@{
    ViewBag.Title = "Listar";
   
}

<div class="container">
    <h2>Listado de Contactos</h2>
    <a href="@Url.Action("Guardar", "Mantenedor")" class="btn btn-success">Agregar Contacto</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contacto in Model)
            {
                <tr>
                    <td>@contacto.IdContacto</td>
                    <td>@contacto.Nombre</td>
                    <td>@contacto.Telefono</td>
                    <td>@contacto.Correo</td>
                    <td>                     
                            <a href="@Url.Action("Editar", "Mantenedor", new { IdContacto = @contacto.IdContacto })" class="btn btn-secondary">Editar Contacto</a>
                            <a href="@Url.Action("Eliminar", "Mantenedor", new { IdContacto = @contacto.IdContacto })" class="btn btn-danger">Eliminar Contacto</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

